 /* external style */
 *{
    margin: 0;
    padding: 10;
    box-sizing: border-box;
    scroll-behavior: smooth;
}  



 .rahul{
width: 75%;
margin: 20px;

/* border: 2px solid red; */

/* display: inline-block; */
}
.aaa,.bbb,.ccc,.ddd{
    width: 250px;
    /* height: 250px;  */
    /* border: 2px solid black; */
    display: inline-block; 

    position: relative ;
    margin: 10px;
    margin-bottom: 8px;
    margin-left: 10px;

/* }
.nani{
width:55%;
height:150px;
border: 2px solid black;
display: inline-block; */




 }
.mmm,.nnn,.vvv,.xxx{
width: 250px;
/* height: 150px; */
/* border: 2px solid black; */
display: inline-block;
position: relative ;
 margin: 10px;
    margin-bottom: 8px;
    margin-left: 10px;
 


}
img{
    width: 100%;
    
    
    
}
p{
    color: aliceblue;
    background-color: black;
    
    position: absolute  ; 
    top:0 ;
}



